{
  "method": "POST",
  "version": "2018-05-29",
  "resourcePath": "/",
  "params": {
   "headers": {
      "content-type": "application/x-amz-json-1.1",
      "x-amz-target": "secretsmanager.GetSecretValue"
    },
    "body": {
      "SecretId": "test/mongodbatlas/apikey"
    }
  }
}